* {
    margin: 0px;
    padding: ;
}

body {
    background-color: #874C62;
    font-family: sans-serif;
}

body>div {
    background-color: #fff;
    border-radius: 10px;
    width: 98%;
    margin: 20px auto;
}

header {
    width: 100%;
    text-align: center;
}